<div class="detailed-card" *ngIf="pokemon">
    <div  class="detailed-card-header">
        <h1>#{{pokemon.id}}</h1>
        <h1 class="detailed-card-name">{{pokemon.name}}</h1>
    </div>

    <img class="detailed-card-img" [src]="sprite" (click)="OnClickHeader()">

    <div class="detailed-card-properties">
        <div id="labels">
            <h2>Weight</h2>
            <h2>Height</h2>
            <h2>Types</h2>
        </div>
        <div id="properties">
            <h2>{{pokemon.weight}}</h2>
            <h2>{{pokemon.height}}</h2>
            <h2>{{pokemon.types | convertTypes | uppercase}}</h2>
        </div>
    </div>
</div>