.header {
    background-color: var(--main-color);
}
.pokedex-icon {
    width: 9em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.body {
    background-color: var(--secondary-color);
}

.pokemon-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pokemon-detail {
    display: flex;
    justify-content: center;

    > app-pokemon-detail{
        margin: 0.5em;
    }
}

.footer {
    display: flex;
    justify-content: center;
    background-color: var(--main-color);
}