<div class="header">  <!--Header-->
    <img class="pokedex-icon" src="../../../../assets/pokedex-button.jpg" (click)="OnClickTitle()">
</div>

<div class="body"> <!--Body-->
    <div class="pokemon-filters" *ngIf="!loading && !showDetail">
        <div class="filter-name">
            <h3>Filter by name:</h3>
            <input *ngModelChange="filterByName($event)">
        </div>
    </div> <!-- Filters -->

    <h2 *ngIf="loading"> Loading...</h2>
    <div class="pokemon-list" *ngIf="!loading && !showDetail" >
        <app-pokemon-card *ngFor="let pokemon of pokeList" [pokemon]="pokemon" (selectPokemon)="OnClickPokemon($event)"></app-pokemon-card>
    </div>

    <div class="pokemon-detail" *ngIf="!loading && showDetail">
        <app-pokemon-detail [pokemon]="pokemonSelected"></app-pokemon-detail>
    </div>
</div>

<div class="footer"> <!--Footer-->
    <app-paginator *ngIf="!showDetail" [firstElement]="first" [lastElement]="first + pokemonPerPage" [step]="pokemonPerPage" [limitPrev]="limitPokemon[0]" [limitNext]="limitPokemon[1]" (pageChanged)="OnrefreshPokemonList($event)"></app-paginator>
</div>