.header {
    background-color: var(--main-color);
}
.pokedex-icon {
    width: 9em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.body {
    background-color: var(--secondary-color);
}

.pokemon-filters {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    background-color: var(--main-color);
}

.filter-name {
    display: flex;
    flex-direction: row;

    > h3 {
        color: var(--third-color);
        padding-right: 1em;
    }

    > input {
        font-size: 1.5em;
        max-width: 6em;
        
    }
}

.pokemon-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pokemon-detail {
    display: flex;
    justify-content: center;

    > app-pokemon-detail{
        margin: 0.5em;
    }
}

.footer {
    display: flex;
    justify-content: center;
    background-color: var(--main-color);
}