.paginator {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--main-color);
}

.paginator-element{
    padding: 0.6em;
    user-select: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   filter: invert(1);
}

.arrows {
    cursor: pointer;
    width: 3em;
    height: 3em;
}

.right {
    transform: rotate(180deg);
}
