/* You can add global styles to this file, and also import other style files */
:root{
    --main-color: rgb(40, 40, 40);
    --secondary-color: rgb(183, 71, 71);
    --third-color: rgb(255,255,255);
}

body {
    background-color: var(--main-color);
}